@page "/"

<PageTitle>Home</PageTitle>

@if (showDetails)
{
    <div>
        <h3>User Details</h3>
        <p>Name: @userName</p>
        <p>Email: @userEmail</p>
        <p>name: @GetUsername()</p>
    </div>
}
@if (TestNum == 1)
{
    <p> Num is 1</p>
}
else
{
    <p> Num is not 1</p>
}

@*
@for ( int i=0; i<10; i++)
{
    <p> Value of i: @i</p>
}*@

@foreach (var name in names)
{
    <p>@((MarkupString)name)</p>
}

<button class="btn btn-primary" @onclick="ToggleDetails">Toggle Details</button>
<button class="btn btn-primary" @onclick="ChangeName">Change Name</button>

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCounter">Click me</button>

@code {
    bool showDetails = false;
    string userName = "Fatima Surraya";
    string userEmail = "fatimamughal651@gmail..com";
    private string GetUsername()
    {
        return userName;
    }

    private void ChangeName()
    {
        userName = "Princess";
    }
    private int TestNum = 1;

    private List<string>names; 

    protected override void OnInitialized()
    {
        base.OnInitialized();
        names = new List<string>
        {
            "<b>value 01</br>",
            "value 02",
            "value 03",
            "value 04",
            "value 05",
            "value 06",
            "value 07",
            "value 08",
        };
    }

    void ToggleDetails()
    {
        showDetails = !showDetails;
    }

    
    private int currentCount = 0;

    private void IncrementCounter()
    {
        currentCount++;
    }

}